mixin text-field(title, subTitle, value, type, focus)

  - let textInputClassList = 'text-field__text-input'
  - let placeholder = value
  - let textFieldClassList = 'text-field'

  if focus
    - textInputClassList += ' text-field__text-input_focus'
  if type == 'sub'
    - textInputClassList += ' text-field__text-input_subscription'
    - textFieldClassList += ' text-field_medium'


  div(class=textFieldClassList)
    .text-field__title-block

      if title
        h3.text-field__title #{title}
      if subTitle
        span.text-field__sub-title #{subTitle}

    input(type='text', placeholder=value, class=textInputClassList)