mixin button(title, type, type2)

    - var buttonClassList = 'button';
    - var textClassList = 'button__text';

    if type == 'border'
        - buttonClassList += ' button_border button_small';
        - textClassList += ' button__text_colored';
    else if type == 'reset'
        - buttonClassList += ' button_without-border';
        - textClassList += ' button__text_gray';  
    else if type == 'apply'
        - buttonClassList += ' button_without-border'; 
        - textClassList += ' button__text_colored'; 
    else if type == 'payment'
        - buttonClassList += ' button_filled button_large';
        - textClassList += ' button__text_large'
    else
        - buttonClassList += ' button_filled button_small';

    if type2 == 'inactive'
        - buttonClassList += ' button_inactive';

    button(class=buttonClassList) 
        span(class=textClassList) #{title}
    //p #{textClassList} #{buttonClassList}

