mixin button(title, type, test)

  - var buttonClassList = 'button';
  - var textClassList = 'button__text';

  if type == 'empty'
    - buttonClassList += ' button_small button_empty';
    - textClassList += ' button__text_purple';

  else if type == 'grey'
    - textClassList += ' button__text_grey';

  else if type == 'purple'
    - textClassList += ' button__text_purple'; 

  else if type == 'large'
    - buttonClassList += ' button_fill button_large';

  else
    - buttonClassList += ' button_fill button_small';

  button(class=buttonClassList) 
    span(class=textClassList) #{title}

  //p #{textClassList} #{buttonClassList}

