mixin range-slider(title, subTitle, min, max)
    -var valueLeft = String(((max - min) / 3) + min);
    -var valueRight = String(((max - min) - (max - min) / 3) + min);

    .range-slider
        .range-slider__title-block
            h3.range-slider__title #{title}
            span.range-slider__price #{subTitle}
        .range-slider__container
            input(type="range", id='input-left', min=min, max=max, value=valueLeft).range-slider__input
            input(type="range", id='input-right', min=min, max=max, value=valueRight).range-slider__input  
            .range-slider__slider
                .range-slider__track
                    .range-slider__range
                .range-slider__thumb.range-slider__thumb_left
                .range-slider__thumb.range-slider__thumb_right  